<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form>
                <div class="form-group">
                    <input type="text" name="title" [(ngModel)]="titulo.title" placeholder="Título" class="form-control" autofocus>
                </div>
                <div class="form-group">
                    <textarea name="description" [(ngModel)]="titulo.description" placeholder="Descripción" rows="2" class="form-control"></textarea>
                </div>
                <button class="btn btn-success btn-block" (click)="saveNewPublication()">Publicar</button>
            </form>
        </div>
    </div>
</div>
<div class="col-md-4">
    <div class="card card-body text-center">
        <h3>{{titulo.id}}. {{titulo.title == ""?"Título de la Publicacion":titulo.title}}</h3>
        <p>{{titulo.description == ""?"Descripción de la Publicacion":titulo.description}}</p>
        <p>{{titulo.created_at | date: "yyyy-MM-dd"}}</p>
    </div>
</div>